@import './breakpoints.scss';
@import './components-custom-styles.scss';

@font-face {
  font-family: 'Suisse';
  src: url('/fonts/SuisseIntl-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Suisse-Bold';
  src: url('/fonts/SuisseIntl-Bold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Suisse';
  src: url('/fonts/SuisseIntl-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Suisse-Bold';
  src: url('/fonts/SuisseIntl-Bold');
  font-weight: 600;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Suisse';
}

:root {
  --primary-bg: #fef8f1;
  --primary-black: #0f1425;
  --secondary-black: #727270;
  --primary-white: #ffffff;
  --tippr-orange: #f95c00;
}

.main-container {
  display: flex;
  flex-direction: column;
  background: var(--primary-bg);
  padding: 40px 15px 34px;
  width: 100%;
  height: 100vh;
}

button,
a {
  cursor: pointer;
  border: none;
}

li {
  list-style-position: inside;
  list-style-type: none;
}

.text_xl {
  font-size: 24px;
  font-weight: 600;
}

.text_xs {
  font-size: 10px;
  font-weight: 400;
  color: var(--secondary-black);
}

.text_header {
  font-size: 16px;
  line-height: 21px;
  font-weight: 600;
}

.text_body {
  font-size: 12px;
  font-weight: 400;
  color: var(--secondary-black);
  line-height: 16px;
}

.text_body_bold {
  font-size: 12px;
  font-weight: 600;
}

.text_dark {
  color: var(--primary-black);
}

.text_title {
  font-size: 12px;
  font-weight: 600;
}

.primary_line_break {
  border: 1px solid rgba(134, 138, 143, 0.1);
}
